@import "../mixins.scss";
@import "../variables.scss";

footer {
  position: relative;
  bottom: 0;
  left: 0;
  background-image: url("/images/wave3.svg");
  background-size: cover;

  height: $header-height;
  min-height: fit-content;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // padding: 0.5em;
  font-family: $secondary-font-family;

  .seaLogo {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  & .--content {
    width: 60%;
    height: 100%;
    // margin-left: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
    @media screen and (max-width: 768px) {
      justify-content: flex-end;
      margin-left: 5%;
    }
    .links {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 1em;
      #footer-contact-icon {
        height: 4em;
        @media screen and (max-width: 1024px) {
          height: 3.5em;
        }
        @media screen and (max-width: 900px) {
          height: 3em;
        }
        @media screen and (max-width: 768px) {
          height: 2em;
          margin-top: 3%;
        }
      }
      & .footer-icons {
        height: 3em;
        cursor: pointer;
        @media screen and (max-width: 1024px) {
          height: 2.5em;
        }
        @media screen and (max-width: 900px) {
          height: 2em;
        }
        @media screen and (max-width: 768px) {
          height: 1.5em;
        }
        &:hover {
          opacity: 0.7;
          transform: scale(1.05);
          transition: all 0.15s ease-in-out;
        }
        &:active {
          opacity: 1;
        }
      }
    }

    .copyright {
      display: inline-block;
      width: auto;
      @media screen and (max-width: 768px) {
        margin-top: 0.5em;
        font-size: 0.85em;
      }
    }
  }
}
