@import '../mixins.scss';
@import '../variables.scss';

footer {
    background-color: lightblue;
    height: 15vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    font-family: $secondary-font-family;

  .seaLogo {
    width: 10%;
  }
  & .--content {
    width: 50%;
    height: 100%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
 .links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-top: 5%;
  
 }
    
    .copyright {
    }
  }
}
