@import "../mixins.scss";
@import "../variables.scss";

header {
  background-color: $primary-background-color;
  width: 100%;
  height: $header-height;
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  overflow: visible;

  .seaLogo {
    height: 100%;
  }
  // regle pour l'underline des nav a
  nav a:hover {
    text-decoration: none;
  }
  .desktopNav {
    min-width: 50%;
    width: auto;
    min-height: auto;
    color: $primary-font-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;

    @media screen and (max-width: 768px) {
      display: none;
    }

    a {
      font-family: $secondary-font-family;
      font-size: 1.5em;
      min-width: fit-content;
      color: $primary-font-color;
      position: relative;
      text-decoration: none;
      word-break: keep-all;
      word-wrap: none;

      a:hover {
        text-decoration: none;
      }
      &:visited,
      &:active {
        color: $primary-font-color;
        text-decoration: none;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 4px;
        background-color: coral;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
        text-decoration: none;
      }

      &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
        text-decoration: none;
      }
    }

    .nav_buttons {
      display: flex;
      // flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      min-width: fit-content;
      margin-left: 1.5em;

      a {
        margin-right: 1em;
        img {
          height: 1em;
          width: auto;
        }
      }
    }
  }
}

.mobileNav_container {
  height: 100%;
  width: 50%;
  margin: 0 1em;
  padding: 0%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  @media screen and (min-width: 769px) {
    display: none;
  }

  @media screen and (max-width: 768px) {
    display: flex;
  }
  .btnToggleMenu {
    height: 2.5em;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    &.active {
      transform: rotate(-90deg);
    }
    &.disactive {
      transform: rotate(0deg);
    }
  }
  .mobileNav {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .mobileNav_dropdown {
      width: 50%;
      height: fit-content;
      overflow: visible;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: center;
      gap: 1em;
      & .nav_buttons {
        height: 5em;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 1em;

        :hover {
          opacity: 1 !important;
          border: none;
          transform: scale(1.05);
          transition: scale 0.2s ease;
        }
        :active{
          transform: scale(1.1);
          transition: scale 0.2s ease;
          
        }
        img {
          height: 1.2em;
        }
      }
      ._links a {
        font-family: $secondary-font-family;
        color: $primary-font-color;
        font-size: 1.5em;
        text-decoration: none;
        position: relative;
        display: flex;
        justify-content: flex-end;
        border: none !important;
        opacity: 1 !important;
        transform: none !important;

        &::before {
          content: "";
          position: absolute;
          width: 70%;
          height: 3px;
          border-radius: 4px;
          background-color: coral;
          bottom: 0;
          left: 25%;
          transform-origin: center;
          transform: scaleX(0);
          transition: transform 0.2s ease-in-out;
        }

        &:hover::before {
          transform-origin: center;
          transform: scaleX(1);
        }

        &:visited,
        &:active {
          color: $primary-font-color;
        }
      }
    }
  }
}
