@import "../variables.scss";
@import "../mixins.scss";

.contactForm {
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  fieldset {
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &_overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &_wrapper {
    border-radius: $border-radius;
    z-index: 2;
    margin: auto;
    height: 70vh;
    width: 70vw;
    padding: 1em;
    background-color: $primary-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .btnClose {
      position: relative;
      top: 3%;
      right: -45%;
      font-size: 2em;
      margin: 0;
      padding: 0;
    }

    .contactForm_header {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      align-items: center;
      width: 100%;
      height: 400px;
      margin: 0;
      padding: 0;
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }
      & .SEALogo {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 7em;
        width: auto;
        margin: 0;
        padding: 0;
      }
      & .map-section {
        grid-column: 2/3;
        grid-row: 1/2;
        // height: 50%;
        margin: 0;
        padding: 0;
        order: 3;

        & #leaflet-map{
          @media screen and (max-width:768px) {
            display: none;
          }
        }
        img {
          height: 80%;
          width: 80%;
        }
      }

      & .infos-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5em;
        margin: 0;
        padding: 0;
        font-size: 1.8vw;
        @media screen and (max-width:768px) {
         order: 2; 
        }
        .section-title {
          margin-left: 0;
          display: flex;
          flex-wrap: nowrap;
          font-size: 2.5vw;
          &.mail{
            width: 6vw;
          }
        }
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 70%;
      width: 100%;
      font-family: $secondary-font-family;
      input {
        min-height: 4vh;
      }
      #submit {
        width: 6vw;
        font-size: 1.5em;
        border-radius: $border-radius;
        color: $primary-background-color;
        background-color: $button-background-color;
      }

      .form-content {
        margin-left: 3em;
        margin-right: 3em;
        width: 80%;
        display: flex;
        flex-direction: column;
      }
      #message {
        height: 20vh;
        width: 100%;
      }
    }
  }
}
