@import '../variables.scss';
@import '../mixins.scss';

.experiences-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(2, 1fr);

  .experiences-container {
    ul {
      list-style: none;
    }
  }
}
