@import '../variables.scss';
@import '../mixins.scss';

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  &_overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &_wrapper {
    border-radius: $border-radius;
    z-index: 100;
    margin: auto;
    height: 70%;
    width: 50%;
    // padding: 2%;
    background-color: $primary-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // gap: 5%;
    &--btnClose {
      position: relative;
      top: 0;
      right: -45%;
    }
    &_content {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      &--linkCTA {
        height: 35px;
        width: 150px;
        padding: 2px;
        margin: auto;
        margin-top: 4%;
        border-radius: $border-radius;
        background-color: $button-background-color;
        text-align: center;
        color: $secondary-font-color;
        font-family: $secondary-font-family;
        font-weight: 400;
        font-size: 1.1em;
        text-decoration: none;
        :visited,
        :active {
          color: $primary-font-color;
        }
      }
    }
  }
}
