@import '../variables.scss';
@import '../mixins.scss';

.skills-section{
    background-color: lightcoral;
    height: 30vh;
    width: 100%;
    &_container{
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        gap: 30px;
        i{
            font-size: 2em;
        }
        h4{
            font-weight: 700;
        }

    }
}