h1,
h2 {
  font-family: "Oswald", sans-serif;
  color: black;
}

h3,
h4,
p {
  font-family: "Source Sans 3", sans-serif;
  color: black;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 900;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
.about-section {
  background-image: url("/images/wave1.svg");
  background-size: cover;
  background-position: center;
  background-color: #F6F4F4;
  margin: 0;
  min-height: 60vh;
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: flex-start;
  margin: auto;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .about-section {
    margin-left: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
.about-section_title {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  .about-section_title {
    margin-left: 0;
  }
}
.about-section_picture {
  grid-column: 1/2;
  grid-row: 1/3;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .about-section_picture {
    display: none;
  }
}
.about-section_picture .outerCircle {
  background-color: white;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  z-index: 0;
}
.about-section_picture .outerCircle .innerCircle {
  position: relative;
  width: 98%;
  height: 98%;
  border-radius: 50%;
  overflow: hidden;
}
.about-section_picture .outerCircle .innerCircle img {
  object-fit: cover;
  height: 120%;
  width: 100%;
}
.about-section_content {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  word-wrap: break-word;
  padding: 2em;
}
.about-section_content h3,
.about-section_content h4 {
  color: black;
}
.about-section_content .heading-content {
  display: flex;
  justify-content: space-evenly;
  height: 30%;
  align-items: center;
  width: 100%;
}
.about-section_content .heading-content .mobile-pic {
  display: none;
}
@media screen and (max-width: 768px) {
  .about-section_content .heading-content .mobile-pic {
    display: block;
    height: 20vh;
    width: 20vh;
  }
}
.about-section_content .--contact-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .about-section_content .--contact-wrapper {
    margin-right: 3em;
    gap: 0;
  }
}
.about-section_content .--contact-wrapper a {
  text-decoration: none;
  text-align: center;
  color: blue;
}
.about-section_content .--contact-wrapper a .--icons {
  font-size: 3em;
  margin-bottom: -0.3em;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  color: black;
}

h3,
h4,
p {
  font-family: "Source Sans 3", sans-serif;
  color: black;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 900;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
.banner-section {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F4F4;
  background-image: url("/images/background-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .banner-section {
    min-height: 70vh;
  }
}
.banner-section .content {
  margin-top: -10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-section .content .typical {
  margin-top: 2em;
  font-size: 2em;
  min-height: 25vh;
  min-width: 25vh;
}
.banner-section .content .CTA {
  position: relative;
  text-align: center;
  color: lightcoral;
  margin-top: 0em;
  animation: moveUpDown 2s infinite ease-in-out;
  font-size: 2.5em;
}

.card_container {
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s ease-in-out;
  display: flex;
  display: flex;
  height: 20em;
  width: 20em;
  border-radius: 15px;
  padding: 5px;
}
.card_container:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}
.card_container .inner_card_container {
  height: 99%;
  width: 99%;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #F6F4F4;
}
.card_container ._overlay {
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}
.card_container .--images_container {
  height: 99%;
  width: 99%;
  overflow: hidden;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  color: black;
}

h3,
h4,
p {
  font-family: "Source Sans 3", sans-serif;
  color: black;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 900;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
.contactForm {
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}
.contactForm fieldset {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.contactForm img {
  height: 10em;
  width: auto;
}
.contactForm_overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.contactForm_wrapper {
  border-radius: 15px;
  z-index: 2;
  margin: auto;
  height: 80%;
  width: 50%;
  background-color: #F6F4F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactForm_wrapper .btnClose {
  position: relative;
  top: 3%;
  right: -45%;
  font-size: 2em;
}
.contactForm_wrapper .contactForm_header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20vh;
  align-items: center;
}
.contactForm_wrapper .contactForm_header .SEALogo {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 1.8em;
  margin: 0;
  padding: 0;
}
.contactForm_wrapper .contactForm_header .content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  gap: 0.5em;
}
.contactForm_wrapper .contactForm_header .infos {
  grid-column: 2/3;
  grid-row: 1/2;
  height: fit-content;
}
.contactForm_wrapper .contactForm_header .infos .imgMap {
  height: 20vh;
  margin-left: 2em;
}
.contactForm_wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
}
.contactForm_wrapper form input {
  min-height: 4vh;
}
.contactForm_wrapper form #submit {
  width: 6vw;
  font-size: 1.5em;
  border-radius: 15px;
  color: #F6F4F4;
  background-color: rgb(86, 85, 85);
}
.contactForm_wrapper form .form-content {
  margin-left: 3em;
  margin-right: 3em;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.contactForm_wrapper form #message {
  height: 20vh;
  width: 100%;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  color: black;
}

h3,
h4,
p {
  font-family: "Source Sans 3", sans-serif;
  color: black;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 900;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
.experiences-section {
  background-image: url("/images/wave4.svg");
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .experiences-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }
}
.experiences-section .section-title {
  margin-left: 2vw;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  color: black;
}

h3,
h4,
p {
  font-family: "Source Sans 3", sans-serif;
  color: black;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 900;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.modal_wrapper {
  border-radius: 15px;
  z-index: 2;
  margin: auto;
  height: 70%;
  width: 50%;
  background-color: #F6F4F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .modal_wrapper {
    height: 80%;
    width: 80%;
  }
}
.modal_wrapper .awesome-slider {
  position: relative;
  top: 0;
  left: 0;
  color: black;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  overflow: hidden;
  margin-bottom: -2%;
  height: 70%;
}
.modal_wrapper .awesome-slider img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: cover;
  object-position: center;
}
.modal_wrapper .awesome-slider .btnClose {
  position: relative;
  top: 0;
  right: 0;
}
.modal_wrapper_content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  padding: 5px;
  height: 30%;
}
@media screen and (max-width: 768px) {
  .modal_wrapper_content {
    margin-bottom: 0;
    justify-content: space-evenly;
    padding: 2px;
  }
}
.modal_wrapper_content--linkCTA {
  height: 35px;
  width: 150px;
  padding: 2px;
  margin: auto;
  margin-top: 2%;
  border-radius: 15px;
  background-color: rgb(86, 85, 85);
  text-align: center;
  color: #F6F4F4;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-decoration: none;
  place-content: center;
}
.modal_wrapper_content--linkCTA :visited,
.modal_wrapper_content--linkCTA :active {
  color: black;
}
.modal_wrapper_content--linkCTA:hover {
  background-color: rgb(174, 173, 173);
  transition: all 0.3s ease-in-out;
}
.modal_wrapper_content--techs {
  display: flex;
  justify-content: center;
  background-color: none;
}
@media screen and (max-width: 768px) {
  .modal_wrapper_content--techs {
    display: none !important;
  }
}
.modal_wrapper_content--techs i {
  font-size: 1.8em;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  color: black;
}

h3,
h4,
p {
  font-family: "Source Sans 3", sans-serif;
  color: black;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 900;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
.carouselWrapper {
  width: 100%;
  height: 45%;
}
.carouselWrapper .carousel {
  width: 100%;
  height: 15em;
}
.carouselWrapper .carousel .carouselItem {
  height: auto;
  width: auto;
}
.carouselWrapper .carousel .carouselItem .carouselImage {
  height: 15em;
  width: 100%;
  overflow: scroll;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  color: black;
}

h3,
h4,
p {
  font-family: "Source Sans 3", sans-serif;
  color: black;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 900;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
.projects-section {
  background-image: url("/images/wave2.svg");
  background-size: cover;
  height: fit-content;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .projects-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin: auto;
    padding: 0;
  }
}
.projects-section .section-title {
  margin-left: 2vh;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .projects-section .section-title {
    margin-left: 0;
    text-align: center;
  }
}
.projects-section ul {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0.5em;
  list-style: none;
}
@media screen and (max-width: 425px) {
  .projects-section ul {
    height: fit-content;
    width: fit-content;
    padding: 0;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }
}
.projects-section ul li {
  width: fit-content;
  height: auto;
}
h1,
h2 {
  font-family: "Oswald", sans-serif;
  color: black;
}

h3,
h4,
p {
  font-family: "Source Sans 3", sans-serif;
  color: black;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 900;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
.skills-section {
  background-color: #F6F4F4;
  margin-top: 10vh;
  height: 22vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .skills-section {
    height: 15vh;
  }
}
.skills-section .carousel_container {
  height: 100%;
  width: 70%;
  overflow: hidden;
  position: relative;
}
.skills-section .carousel_container .carousel_track {
  display: flex;
  position: absolute;
  top: 0;
  left: 100%;
  justify-content: center;
  align-items: center;
  gap: 5em;
  width: 200%;
  height: 100%;
  animation: scroll 30s linear infinite;
  transition: transform 0.5s ease-in-out;
}
.skills-section .carousel_container .carousel_track .carousel-item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.skills-section .carousel_container .carousel_track .carousel-item i {
  font-size: 3em;
}
.skills-section .carousel_container .carousel_track .carousel-item .name {
  font-size: 1em;
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
  word-break: keep-all;
}
@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
h1,
h2 {
  font-family: "Oswald", sans-serif;
  color: black;
}

h3,
h4,
p {
  font-family: "Source Sans 3", sans-serif;
  color: black;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 900;
}

header {
  background-color: #F6F4F4;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  overflow: visible;
}
header .seaLogo {
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
header nav a:hover {
  text-decoration: none;
}
header .desktopNav {
  min-width: 50%;
  width: auto;
  min-height: auto;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}
@media screen and (max-width: 768px) {
  header .desktopNav {
    display: none;
  }
}
header .desktopNav a {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.5em;
  min-width: fit-content;
  color: black;
  position: relative;
  text-decoration: none;
  word-break: keep-all;
  word-wrap: none;
}
header .desktopNav a a:hover {
  text-decoration: none;
}
header .desktopNav a:visited, header .desktopNav a:active {
  color: black;
  text-decoration: none;
}
header .desktopNav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: coral;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}
header .desktopNav a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  text-decoration: none;
}
header .desktopNav .nav_buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: fit-content;
  margin-left: 1.5em;
}
header .desktopNav .nav_buttons a {
  margin-right: 1em;
}
header .desktopNav .nav_buttons a img {
  height: 1em;
  width: auto;
}

.mobileNav_container {
  height: 100%;
  width: 50%;
  margin: 5em 1em;
  padding: 0%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (min-width: 769px) {
  .mobileNav_container {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .mobileNav_container {
    display: flex;
  }
}
.mobileNav_container .btnToggleMenu {
  height: 2.5em;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}
.mobileNav_container .btnToggleMenu.active {
  transform: rotate(-90deg);
  position: absolute;
  top: 3em;
  right: 1em;
}
.mobileNav_container .btnToggleMenu.disactive {
  transform: rotate(0deg);
}
.mobileNav_container .mobileNav {
  position: relative;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.mobileNav_container .mobileNav .mobileNav_dropdown {
  width: 50%;
  overflow: visible;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  gap: 1em;
}
.mobileNav_container .mobileNav .mobileNav_dropdown.opened {
  animation: apparition 0.3s ease-out forwards;
}
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
  to {
    opacity: 1;
    transform: translateY(7.1428571429vh);
  }
}
.mobileNav_container .mobileNav .mobileNav_dropdown .nav_buttons {
  height: 5em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2.2em;
}
.mobileNav_container .mobileNav .mobileNav_dropdown .nav_buttons :hover {
  opacity: 1 !important;
  border: none;
  transform: scale(1.3);
  transition: scale 0.5s ease;
}
.mobileNav_container .mobileNav .mobileNav_dropdown .nav_buttons :active {
  transform: scale(1.1);
  transition: scale 0.2s ease;
}
.mobileNav_container .mobileNav .mobileNav_dropdown .nav_buttons img {
  height: 1.2em;
}
.mobileNav_container .mobileNav .mobileNav_dropdown ._links a {
  font-family: "Source Sans 3", sans-serif;
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: flex-end;
  border: none !important;
  opacity: 1 !important;
  transform: none !important;
}
.mobileNav_container .mobileNav .mobileNav_dropdown ._links a::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  border-radius: 4px;
  background-color: coral;
  bottom: 0;
  left: 25%;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.mobileNav_container .mobileNav .mobileNav_dropdown ._links a:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}
.mobileNav_container .mobileNav .mobileNav_dropdown ._links a:visited, .mobileNav_container .mobileNav .mobileNav_dropdown ._links a:active {
  color: black;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
h1,
h2 {
  font-family: "Oswald", sans-serif;
  color: black;
}

h3,
h4,
p {
  font-family: "Source Sans 3", sans-serif;
  color: black;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 900;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  background-image: url("/images/wave3.svg");
  background-size: cover;
  height: 10vh;
  min-height: fit-content;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
}
footer .seaLogo {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
footer .--content {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1em;
}
@media screen and (max-width: 768px) {
  footer .--content {
    justify-content: flex-end;
    margin-left: 5%;
  }
}
footer .--content .links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}
footer .--content .links .footer-icons {
  height: 3em;
}
@media screen and (max-width: 1024px) {
  footer .--content .links .footer-icons {
    height: 2.5em;
  }
}
@media screen and (max-width: 900px) {
  footer .--content .links .footer-icons {
    height: 2em;
  }
}
@media screen and (max-width: 768px) {
  footer .--content .links .footer-icons {
    height: 1.5em;
  }
}
footer .--content .copyright {
  display: inline-block;
  width: auto;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
h1,
h2 {
  font-family: "Oswald", sans-serif;
  color: black;
}

h3,
h4,
p {
  font-family: "Source Sans 3", sans-serif;
  color: black;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 900;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #F6F4F4;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  height: 50px;
  min-width: 200px;
  padding: 5px;
  border-radius: 20px;
}

.section-title {
  margin-left: 2vw;
}

a:hover {
  opacity: 0.7;
  transform: scale(1.05);
  transition: all 0.15s ease-in-out;
}
a:active {
  opacity: 1;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  pointer-events: none; /* This will make the image not clickable */
}

/*# sourceMappingURL=style.css.map */
