


$primary-background-color :white;
$secondary-background-color: rgba(35, 33, 33, 0.6);

$primary-font-family: 'Oswald',sans-serif;
$primary-color: black;

$secondary-font-family: 'Source Sans 3', sans-serif;
$secondary-color: blue;



$header-height : 10vw;
// $responsiveSize : 1em
// $responsiveHeight : calc($responsiveSize + 10vw);

$bold: 900;

h1,h2{
    font-family: $primary-font-family;
    color: black;
  }
  
  h3,h4,p{
    font-family: $secondary-font-family;
    
    color: black;
  }
  h1{
    font-size: 3em;
    font-weight: bold;
  }
  h2{
    font-size: 2em;
  }
  h3{
    font-size: 1.5em;
  }
  h4{
    font-size: 1.2em;
    font-weight: 400;
  }
  p{
    font-size: 1em;
    font-weight: 400;
  }
  .italic{
    font-style: italic;
  }
  .bold{
    font-weight: $bold;
  }